<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <h1>Login</h1>
      <div class="field" >
        <label for="">Nome cliente</label>
        <input type="text" formControlName="nomeCliente" >
      </div>
      <div class="field">

        <label for="">Senha</label>
        <input type="text" formControlName="senha">
      </div>
      <input type="submit" value="Enviar">
    </form>
  </div>
</body>

</html>