<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form [formGroup]="form">
            <h1>Cadastro</h1>
            <div class="field">
                <label for="">Nome cliente</label>
                <input type="text" formControlName="nomeCliente"
                    [ngClass]="{'is-invalid': submitted && form.controls['nomeCliente'].errors}">
                <div *ngIf="submitted && form.controls['nomeCliente'].errors" class="invalid-feedback">
                    <div *ngIf="submitted && form.controls['nomeCliente'].errors['required']">
                        Nome é obrigatório!
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="">E-mail</label>
                <input type="email" formControlName="email"
                    [ngClass]="{'is-invalid': submitted && form.controls['email'].errors}">
                <div *ngIf="submitted && form.controls['email'].errors" class="invalid-feedback">
                    <div *ngIf="submitted && form.controls['email'].errors['required']">
                        E-mail é obrigatório!
                    </div>
                    <div *ngIf="submitted && form.controls['email'].errors['email']">
                        E-mail informado é inválido!
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="">Senha</label>
                <input type="password" formControlName="senha" (keyup)="testPassword()"
                    [ngClass]="{'is-invalid': submitted && form.controls['senha'].errors}">
                <div *ngIf="submitted && form.controls['senha'].errors" class="invalid-feedback">
                    <div *ngIf="form.controls['senha'].errors['required']">
                        Senha é obrigatória!
                    </div>
                </div>
                <div *ngIf="submitted && isPasswordWeak" class="feedback-password">
                    Senha fraca! Deve conter pelo menos: <br>
                    - 1 caracter especial<br>
                    - 1 letra maiúscula<br>
                    - Números<br>
                </div>
            </div>
            <div class="d-flex gap-1">
                <input type="checkbox" formControlName="isCheckedTerms">
                <span class="terms">Eu li e concordo com os <a href="#">termos de uso</a></span>
            </div>
            <div *ngIf="submitted && form.value && !form.value.isCheckedTerms" class="feedback-password"
                style="margin-top: -1rem;">
                Marcação obrigatória!
            </div>
            <button type="submit" class="primary-button" (click)="cadastrar()">Enviar</button>
        </form>
    </div>
</body>

</html>