* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-width: 100%;
    height: 12vh;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;
}

.container img {
    height: 70%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: none !important;
    padding: 0 !important;
}

ul>li {
    color: white;
}

ul>li:hover {
    color: rgb(103, 122, 151);
    transition: 0.5s;
    text-decoration: underline;
}

@media screen and (max-width: 742px) {
    .navigation {
        gap: 0.8rem;
    }

    ul>li {
        font-size: 0.75rem;
        text-wrap: nowrap;
    }

    .container img {
        height: 2.5rem;
    }

}